<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lingomio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/tachyons.min.css"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="icon.png">
    {% block styles %}{% endblock %}
  </head>
  <body class="sans-serif">
    {% block content %}{% endblock %}
  </body>
</html>